aws_region  = "eu-west-3"
name_prefix = "abstergo-turn"

# Values below come from AWS CLI discovery commands in README.
vpc_id    = "vpc-0491c73c129269107"
subnet_id = "subnet-0547ed2467da2d42a"

instance_type            = "t3.micro"
turn_ingress_cidr_ipv4   = "0.0.0.0/0"
turn_realm               = "voice.abstergochase"
relay_min_port           = 49152
relay_max_port           = 49200

# Replace with your own random value.
turn_secret = "CHANGE_ME_WITH_A_RANDOM_SECRET"
