BDDTESTER_PUBLISH_PORT=8081
API_BASE_URL=http://localhost:5175
COGNITO_DOMAIN=https://your-domain.auth.eu-west-1.amazoncognito.com
COGNITO_CLIENT_ID=your_cognito_app_client_id
COGNITO_REDIRECT_URI=http://localhost:8081
COGNITO_SCOPE=openid email profile
