# API
SERVERBDD_PUBLISH_PORT=5175

# PostgreSQL
POSTGRES_DB=abstergo
POSTGRES_USER=abstergo
POSTGRES_PASSWORD=change_me

# AWS Cognito
COGNITO_ISSUER=https://cognito-idp.eu-west-1.amazonaws.com/<user-pool-id>
COGNITO_AUDIENCE=<app-client-id>
