# Port du serveur
PORT=5175

# MySQL / MariaDB (O2Switch)
# Sur O2Switch, l'adresse de connexion est toujours localhost
DATABASE_HOST=localhost
DATABASE_PORT=3306

# Nom et utilisateur préfixés par votre identifiant cPanel
DATABASE_NAME=nite8495_AbstergoBase
DATABASE_USER=nite8495
DATABASE_PASSWORD=votre_mot_de_passe
