# Port du serveur
PORT=5175

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=abstergo
DATABASE_USER=abstergo
DATABASE_PASSWORD=change_me
DATABASE_SSL=false

# AWS Cognito (JWT validation)
COGNITO_ISSUER=https://cognito-idp.eu-west-1.amazonaws.com/<user-pool-id>
COGNITO_AUDIENCE=<app-client-id>
